<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Toolbelt - Simple Text Editor Sync</title>
  <link rel="stylesheet" href="/assets/css/theme.css" />
</head>
<body>
  
  <section id="promo">
    <img src="/assets/img/bg-home.jpg" alt="">
    <header>
      <div class="menu-left">
        <img src="/assets/img/logo.png" alt="">

      </div>
      <div class="menu-right">
        <a href="/login" class="btn btn-link">Log In</a>
        <a href="/signup" class="btn btn-success">Sign Up</a>
      </div>
    </header>
    <div class="promo-content">
      <div class="promo-tagline"><h1>Don't waste time setting up.</h1></div><br/>
      <div class="promo-tagline">Sync your workspace with zero effort.</div><br/>
      <a href="/signup" class="btn btn-promo">Sign Up</a>
    </div>
  </section>
</body>
</html>