<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/theme.css" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet"> 
  <title>Login | Toolbelt</title>
</head>
<body class="mid-center-page"> 
  <div class="mid-center-wrap">
    <section id="login" class="mid-center">
      <img src="assets/img/logo_dark.png" alt="" />
      <form action="/login" method="POST" class="input-group">
        <input name="username" type="text" placeholder="username" />
        <input name="password" type="password" placeholder="password" />
        <button type="submit" class="btn btn-success btn-lg">Login</button>
      </form>
      <div class="notice">
        New? <a href="/signup">Sign Up</a> instead.
      </div>
    </section>
  </div>
</body>
</html>