<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/theme.css" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet"> 
  <title>Sign Up | Toolbelt</title>
</head>
<body class="mid-center-page"> 
  <div class="mid-center-wrap">
    <section id="signup" class="mid-center">
      <img src="assets/img/logo_dark.png" alt="" />
      <form action="/signup" method="POST" class="input-group">
        <input type="text" placeholder="username" />
        <input type="password" placeholder="password" />
        <input type="password" placeholder="retype password" />
        <button type="submit" class="btn btn-success btn-lg">Sign Up</button>
      </form>
      <div class="notice">
        Already signed up? <a href="/login">Log In</a> instead.
      </div>
    </section>
  </div>
</body>
</html>